body {
    background-color: #e7e7e7;
    font-family: 'Opendyslexic', Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('../fonts/OpenDyslexic-Regular.woff2') format('woff2'),
        url('../fonts/OpenDyslexic-Regular.woff') format('woff'),
        url('../fonts/OpenDyslexic-Regular.otf') format('opentype');
    font-weight: 400; /* normal weight */
    font-style: normal;
    }

#instructions {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 250px;
    font-family: 'Opendyslexic', Geneva, Tahoma, sans-serif;
    font-size: 24px;
}
#instructions h2 {
    margin-bottom: 10px;
}
#instructions p {
    margin: 5px 0;
}

#piggyContainer {
    position: absolute;
    top: 10%; /* Adjust vertical position as needed */
    right: 2%; /* Adjust horizontal position as needed */
    width: auto;
    height: auto;
    max-width: 494px; /* Maximum width of the container */
    max-height: 362px; /* Maximum height of the container */
    z-index: 1;
}

#piggyBank {
    width: 100%;
    height: auto;
    display: block;
}

#abortButton {
    font-family: 'OpenDyslexic';
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    padding: 10px 15px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#totalPoints {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    font-size: 3vw; /* Responsive font size */
    color: #000000;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    z-index: 2;
    max-width: 90%; /* Prevents overflow */
}

#balloonImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 175px;
    left: 50%;
    right: 50%;
    top: 25%;
    height: 175px; 
    width: 175px;
    overflow: hidden;
    z-index: 1;
    transition: width .7s ease; 
}

#message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}


#continueButton {
    position: absolute;
    background-color: #000000;
    color: white;
    top: 80%;
    left: 50%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Opendyslexic', Geneva, Tahoma, sans-serif;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 18px;
    z-index: 2;
}

#continueButton:hover {
    background-color: #0093bc;
}

#continueButton:active {
    transform: translateX(-50%) scale(0.95);
}

#endTask {
    position: absolute;
    background-color: #000000;
    color: white;
    top: 80%;
    left: 50%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Opendyslexic', Geneva, Tahoma, sans-serif;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 18px;
    z-index: 2;
}

#endTask:hover {
    background-color: #0093bc;
}

#endTask:active {
    transform: translateX(-10%) scale(0.95);
}

#pointsDisplay p {
    margin: 0;
}

.jiggle {
    animation: jiggle 0.5s ease-in-out infinite;
}

@keyframes jiggle {
    0% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    100% { transform: translateX(-2px); }
}

#lastBalloon {
    display: none;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: 'Opendyslexic', Geneva, Tahoma, sans-serif;
    text-align: center;
}
