body {
    background-color: #b1b1bd;
    font-family: 'Verdana', Verdana, Geneva, Tahoma, sans-serif;
}

#balloonImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 175px;
    left: 50%;
    right: 50%;
    top: 25%;
    height: 175px; /* Adjust as needed */
    width: 175px;
    size: 100%;
    overflow: hidden;
    z-index: 1;
    transition: width .7s ease; /* Smooth transition */
}

#message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

#inflateButton {
    position: absolute;
    display: inline-block;
    background-color: #000000;
    color: white;
    top: 80%;
    left: 15%;
    border: none;
    border-radius: 12px;
    transform: translateX(-10%);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    width: 80%;
    max-width: 300px;
    text-align: center;
    z-index: 2;
    font-family: 'Verdana', Verdana, Geneva, Tahoma, sans-serif;
}

#inflateButton:hover {
    background-color: #0093bc;
}

#inflateButton:active {
    transform: translateX(-10%) scale(0.95)
}

@media (min-width: 600px) {
    #inflateButton {
        width: 60%;
    }
}

@media (min-width: 900px) {
    #inflateButton {
        width: 40%;
    }
}

#bankButton  {
    position: absolute;
    display: inline-block;
    background-color: #000000;
    color: white;
    top: 80%;
    right: 15%;
    border: none;
    border-radius: 12px;
    transform: translateX(10%);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    width: 80%;
    max-width: 300px;
    text-align: center;
    z-index: 2;
    font-family: 'Verdana', Verdana, Geneva, Tahoma, sans-serif;
}

#bankButton:hover {
    background-color: #0093bc;
}

#bankButton:active {
    transform: translateX(10%) scale(0.95)
}

@media (min-width: 600px) {
    #bankButton {
        width: 60%;
    }
}

@media (min-width: 900px) {
    #bankButton {
        width: 40%;
    }
}

#continueButton {
    position: absolute;
    background-color: #000000;
    color: white;
    top: 80%;
    left: 50%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 18px;
    z-index: 2;
    font-family: 'Verdana', Verdana, Geneva, Tahoma, sans-serif;
}

#continueButton:hover {
    background-color: #0093bc;
}

#continueButton:active {
    transform: translateX(-50%) scale(0.95)
}

#endTask {
    position: absolute;
    background-color: #000000;
    color: white;
    top: 80%;
    left: 50%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 18px;
    z-index: 2;
    font-family: 'Verdana', Verdana, Geneva, Tahoma, sans-serif;
}

#endTask:hover {
    background-color: #0093bc;
}

#endTask:active {
    transform: translateX(-10%) scale(0.95)
}

#totalPoints {
    position: absolute;
    top: 22%;
    right: 14%;
    transform: translate(15%, 0%);
    font-size: 100px;
    color: #000000;
    font-weight: bold;
    z-index: 2;
}

#pointsDisplay p {
    margin: 0;
}

#piggyBank {
    position: absolute;
    width: auto;
    height: 80%; /* Adjust height as needed */
    top: 9%; /* Adjust top positioning as needed */
    right: 1%; /* Adjust right positioning as needed */
    max-width: 494px; /* Set the maximum width of the image */
    max-height: 362px; /* Set the maximum height of the image */
    z-index: 1; /* Ensure it's behind other elements if necessary */
}


.jiggle {
    animation: jiggle 0.5s ease-in-out infinite;
  }
  
@keyframes jiggle {
    0% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    100% { transform: translateX(-2px); }
}


#lastBalloon {
    display: none;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}